*{
 box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(230, 230, 230);
  font-size: calc(10px + 2vmin);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  background-color: transparent;
  border: none;

}
.remove-button{
  background-color: rgb(223, 103, 73);
  color: white;
  padding: .5em .2em;
  border-radius: .4em;
}
header{
  background-color: #282c34;
  min-height: 10vmin;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  color: wheat;
  padding-right: 1em;
}
header h1{
  margin-left: 1em;
}
header img{
  height: 30px;
  width: 30px;
  margin:0 .4em 0 0;
}
header img.icon{
  height: 50px;
  width: 50px;
  margin: 10px 10px 0 0;
  border-right: 1px solid wheat;
  padding: 5px 10px 10px;
}
header a{
  text-decoration: none;
  margin-left: auto;
  padding: .5em;
  background-color: white;
  color: #d8c410;
  font-weight: 500;
  border: 1px solid #dfb914;
  border-radius: .5em;
  transform: scale(.9);
  transition: all 200ms ease;
}
header a:hover{
  transform: scale(1);
  color: white;
  border-color: wheat;
  background-color: #282c34;
}

.product-page{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-auto-rows: 1fr;
  margin: 1rem auto;
  width: 90vw;
  padding: 4px 4px;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  font-size: 1rem;
  margin: 1em;
  padding: .2em 1em 0 .2em;
  border-radius: .5em;
}

.product img{
  height: 150px;
  width: 150px;
  padding: .5em 1em;
  margin: .8rem .2rem;
}
.product p{
  display: none;
}
.product strong{
  display: flex;
  justify-content: flex-start;
  margin-top: .5em;
  font-size: 1.5rem;
  color: rgb(255, 166, 0);
}
.product .product-bottom img{
  height: 5rem;
  width: 5rem;
  
}
@media(min-width:1000px){
  .product-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .product{
    display: grid;
    grid-template-areas: "img details"
                         "name details"
                         "buttons buttons";
    grid-template-columns: 1fr 2fr;
    padding: 1em;
  }
  .product img{
    grid-area: img;
  }
  .product h3{
    grid-area: name;
  }
 
  .product p{
    grid-area: details;
    display: block;
    font-size: 1rem;
    margin: 2rem 1em;
  }
  .product span{
    grid-area: buttons;
  }
}

.product h3{font-size: 1.5rem;}
.product h3,h2{
  display: inline-block;
  margin: 0;
}
.product h4{font-size: .8rem}
h3.specials{
  color: #282c34;
}
.product span{
  padding: 2px;
  display:flex;
  justify-content: space-between;
}
.cart-page{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 0;
  margin: 1rem auto 0;
  width: 90vw;
  padding: 4px 20px;
  
}
.cart-item{
  margin-top: 50px;
  padding: 1em 2em;
  display: grid;
  grid-template-areas: "spana   price"
                       "spana   price"
                       "wrapper wrapper";
}
.cart-item span.a{grid-area: spana}
.cart-item span.price{
  grid-area: price;
  display: flex;
  flex-direction: column;
}
.cart-item h4,h5{
  margin: 0;
}
.cart-item span.wrapper{
  grid-area: wrapper;
  margin: 10px 0;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
.cart-item span.wrapper *{margin-left: 10px;}
.cart-photo{
  height: 100px;width: 100px;
}
.cart-item h3{
  font-weight: 100;
}
.cart-item h3 span{
  color: #afb6c5;
  font-weight: 700;
}
.cart-item .wrapper button img{
  height: 20px;
  width: 20px;
}
.cart-item .increase{
  transform: rotate(180deg);
}
.cart-page-footer{
  background-color: white;
  width: 90vw;
  margin: 0 auto;
  font-size: 2rem;
  padding: .6em;
  text-align: right;
}
.cart-page-footer div h3{
  font-weight: 300;
  display: inline-block;
  margin: 0 .8em 0 0;
}
.cart-page-footer div span{
  color:green;
  font-weight: 600;
  font-size: 2rem;
}
.cart-page-footer div button{
  border: 1px solid #282c34;
  padding: 1em;
  margin-left: 1em;
  border-radius: .5em;
  transition: all 200ms ease;
  transform: scale(.8)
}
.cart-page-footer div button.danger:hover{
  background-color: rgb(161, 92, 92);
}
.cart-page-footer div button:hover{
  background-color: green;
  transform: scale(1);
  color: white;
}
div.empty-cart{
  height: 100%;
  width: 70%;
  font-size: 2em;
  text-align: center;
  margin: auto;
}
div.empty-cart a{
  text-decoration-color: #282c34; 
  
}
div.empty-cart a:hover{
  color: darkgreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img.currency{
  height: 1em;
  width: 1em;
  margin: 0;
  padding: 0;
}