body {
  margin: 0;
  padding: 0;
  background-color: rgb(230, 230, 230);
  font-size: calc(10px + 2vmin);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  background-color: #282c34;
  min-height: 10vmin;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-transform: uppercase;
  color: wheat;
  padding-right: 1em;
}
header h1{
  margin-left: 1em;
}
header img{
  height: 80px;
  width: 80px;
  vertical-align: bottom;
}
header a{
  text-decoration: none;
  margin-left: auto;
  padding: .5em;
  background-color: white;
  color: #282c34;
  border: 1px solid #282c34;
  border-radius: .5em;
  transition: all 200ms ease;
}
header a:hover{
  transform: scale(1.2);
  color: orange;
  border-color: orange;
  background-color: #282c34;
}
.product-page{
  display: flex;
  flex: 1 1 200px;
  flex-wrap: wrap;
  width: 80vw;
  margin: 1.5em auto;
}
.product{
  background-color: white;
  margin: 10px 1em;
  padding: .5em .5em .2em;
  border-radius: .5em;
}
.product img{
  height: 120px;
  width: 120px;
  padding: .5em 1em;
  border-bottom: 1px solid #2e2e2e;
}
.product h3,h4{
  font-size: 1.5rem;
  margin: 0;
}
.product h4{font-size: .8rem}
h3.specials{
  color: #062769;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
